h1 {
  color: green;
}

.my {
  font-style: italic;
}

nav {
  border-bottom: 1px solid blue;
  margin-bottom: 20px;
}

nav li {
  list-style: none;
  list-style-type: none;
}

nav li a {
  text-decoration: none;
}

nav ul {
  display: flex;
  gap: 8px;
}
